<h1>Beatmaps</h1>
<span class="spam">You don't need to spam...</span>

<div class="pure-g">
    {{#each beatmaps as |item|}}
        <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-3 pure-u-xl-1-4">
            <div class="card">
                <span class="order" title="{{item.time}}">{{item.idx}}</span>
                <h3><a href={{item.url}} target="_blank">{{item.title}}</a></h3>
                <div class="box">
                    <a href={{item.url}} target="_blank"><img src={{item.thumb}} class="thumb"></a>
                    <div>

                        <p>Artist: {{item.artist}}</p>
                        <p>Creator: {{item.creator}} (posted by <span title="{{item.time}}">{{item.nick}}</span>)</p>
                        <p>BPM: {{item.bpm}} , Favs: {{item.favourite_count}}</p>

                        <p>
                            {{#each diffs as |diff|}}
                                <img src="{{diff.urlImage}}" title="{{diff.version}} ({{diff.difficultyrating}})">
                            {{/each}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    {{else}}
        <div class="pure-u-1-1">
            <h2>WTF, why is it empty?</h2>
        </div>
    {{/each}}
</div>
